<!DOCTYPE html>
<html ng-app="app1" ng-init="person={fName:'Durga',lName:'Prasad'};capitals=[{city:'Chennai',state:'Tamil nadu'},
{city:'Vijayawada',state:'Andhra Pradesh'},{city:'Jalandhar',state:'Punjab'}]">
<head>
  <title>Angular JS Practice 1</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> -->
  <script src="js\exam1.js"></script>
</head>
<body>
   <div ng-controller="ctrl1">
     <span>Values:</span>
     <input type="text" ng-model="first"/>
     <input type="text" ng-model="second"/>
     <button ng-click="updateValue()">Sum</button>
     <br><br>
      {{calculation}}

     <p>5+5={{5+5}}</p>

    <p>Your first value is {{first}}</p>

    <p>Your Second value is
      <span data-ng-bind="second"></span>
    </p>

    <p>{{person.fName+" "+person.lName}} you entered {{first +" and "+ second}}</p>

    <ul>
      <li ng-repeat="capital in capitals">
        {{'City:' + capital.city + ', State: ' +capital.state }}
      </li>
    </ul>
   </div>

</body>
</html>
